<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
>
</head>
<body>
    <header>
        
        <nav class="navbar" role="navigation" aria-label="main navigation">

    <h1 class="blog-header">Tech Blog</h1>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-header navbar-end">
      <a href="/" class="navbar-item">
        Home
      </a>

      <a href="/dashboard"class="navbar-item">
        Dashboard
      </a>

      {{#if loggedIn}}

      
        <a href="/logout" class="navbar-link">
          Logout
        </a>

    {{else}}
        
          <a href="/login" class="navbar-item">
            Login
          </a>
          <a href="/signup" class="navbar-item">
            SignUp
          </a>
          
          {{/if}}
       
    </div>
  </div>
</nav>
        
    </header>

    <main>
        {{{body}}} 

    <footer>
        <p>&copy; 2021 Tech Blog. All rights reserved.</p>
    </footer>
</body>
</html>
